h2 {
    color: white;
    font-size: 50px;
    text-align: center;
}

#setpswBox{
    max-width: 600px;
    margin: 30px auto;
}

.foremailGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#forgetemailText {
    color: white;
    font-size: 20px;
}

input {
    padding: 10px;
    font-size: 18px;
}

#forpswBtn {
    width: 20%;
    margin-top: 30px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #3877FF;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}
